{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %} {% endblock %}
    <!-- master stylesheet -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-16x16.png' %}" sizes="16x16" />
</head>

<body>
    <div class="boxed_wrapper">
        <!--Start Preloader -->
        <!-- <div class="preloader"></div> -->
        <h6>{% include 'partial/messages.html' %}</h6>
        {% include "navbar.html" %}
        <!--End Preloader -->
        {% block content %}
        
        {% endblock content %}
    </div>
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html">
        <span class="fa fa-chevron-circle-up"></span>
    </div>
    {% include "footer.html" %} 
    {% include "scripts.html" %}
</body>

</html>